body {
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/unnamed.webp");
    background-size: cover;
    background-position: top;
    color: white;
}

#formBtn {
    cursor: pointer;
}

.registrationForm {
    border: 2px solid grey;
    display: inline-block;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: left;
    width: 35%;
    background-color: #adc79b97;
    margin: 1rem 0;
}

.formText {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
    text-align: center;
}

.logo {
    background: linear-gradient(#ffffffe3, #ffffffe3);
}

.logo img {
    width: 300px;
    object-fit: contain;
}


header.mainHeader {
    margin: 0 2rem;
}


body {
    font-family: 'Segoe UI', sans-serif;
}

/* Navbar */
.navbar {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    position: relative;
    margin-bottom: 15px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Nav Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 3.5rem;
    transition: max-height 0.3s ease-out;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
    font-weight: bold;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 4px;
}

.nav-links li a:hover {
    color: #8d5ee5;
}


/* Mobile Styles */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 100%;
        flex-direction: column;
        align-items: center;
        max-height: 0;
        overflow: hidden;
    }

    .nav-links.active {
        max-height: 300px;
        /* Adjust as needed */
    }

    .nav-links li {
        margin: 1rem 0;
    }
}

.mainHeading {
    background-color: cadetblue;
    padding: 15px 20px;
}

.projectTitle {
    color: #211d70;
}